.contact-section {
  padding: 90px 0;
  background: linear-gradient(135deg, #f8f9fa, #ffffff);
}

/* Header */
.contact-header {
  text-align: center;
  max-width: 850px;
  margin: auto;
  margin-bottom: 70px;
}

.contact-header h6 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.contact-header h2 {
  font-size: 44px;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 18px;
  color: #666;
}

/* Layout */
.contact-wrapper {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  padding: 50px;
}

/* Info Section */
.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.contact-info svg {
  font-size: 24px;
  color: #053262;
  margin-right: 15px;
  margin-top: 5px;
}

.contact-info h5 {
  margin-bottom: 5px;
}

.contact-info p {
  color: #666;
}

/* Form */
.contact-form .form-control {
  border-radius: 8px;
  padding: 12px 14px;
}

.send-btn {
  background: #053262;
  border: none;
  padding: 12px 35px;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.send-btn:hover {
  background: blue;
  transform: translateY(-2px);
}
.underline-input {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  padding-left: 0 !important;
}
.email-link {
  color: #053262;
  text-decoration: none;
  font-weight: 500;
}

.email-link:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-wrapper {
    padding: 30px;
  }

  .contact-header h2 {
    font-size: 32px;
  }
}
