.why-shop-section {
  padding: 80px 0;
  /* background: #f8f6f2; */
}

.why-header h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
.why-header h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 3px;
  background: #c8a96b;
}

.why-header p {
  color: #6c757d;
  font-size: 16px;
}

.why-card-shop {
  background: #ffffff;
  border-radius: 16px;
  padding: 35px 25px;
  text-align: center;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}

.why-icon-landingpage {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: #f6fbf3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #c8a96b;
}

.why-card-shop h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

.why-card-shop p {
  font-size: 14px;
  color: #6c757d;
}

/* Mobile Optimization */
@media (max-width: 767px) {
  .why-shop-section {
    padding: 60px 15px;
  }

  .why-header h2 {
    font-size: 32px;
  }

  .why-card-shop {
    padding: 10px 9px;
  }
}
@media (max-width: 576px) {
  .why-header h2 {
    font-size: 22px;
  }
}
