.pricing-section {
  background: #f8f6f2;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}

.pricing-title {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  /* font-family: Georgia, serif; */
}

.pricing-subtitle {
  text-align: center;
  font-size: 20px;
  color: #0f5132;
  margin-top: 10px;
  margin-bottom: 50px;
}

.pricing-card {
  background: white;
  border-radius: 22px;
  padding: 40px 30px;
  position: relative;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
  height: 100%;
  border: 2px solid transparent;
}

.featured-card-pricing {
  border: 2px solid #0f5132;
  transform: scale(1.05);
}

.featured-card-pricing::before {
  content: "Most Popular";
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  background: #0f5132;
  color: white;
  padding: 8px 22px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #0f5132;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  margin: auto;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(24, 167, 123, 0.35);
}

.pricing-card h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.pricing-card h2 {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}

.pricing-card h2 span {
  font-size: 18px;
  color: #777;
}

.commission {
  text-align: center;
  font-size: 18px;
  color: #0f5132;
  font-weight: 600;
  margin-bottom: 30px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
}

.pricing-card li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 17px;
}

.pricing-card li svg {
  color: #0f5132;
}

.btn-plan {
  width: 100%;
  padding: 15px;
  margin-top: 25px;
  background: #0f5132;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  color: white;
  transition: 0.3s;
}

.btn-plan:hover {
  background: #137a59;
}

.bottom-note {
  margin-top: 60px;
  background: #dff9e7;
  padding: 22px;
  border-radius: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
  color: #0f5132;
}

.bottom-note svg {
  font-size: 25px;
}

@media (max-width: 992px) {
  .featured-card-pricing {
    transform: none;
  }
}

@media (max-width: 768px) {
  .pricing-title {
    font-size: 38px;
  }

  .pricing-subtitle {
    font-size: 18px;
  }

  .pricing-card {
    padding: 35px 25px;
  }

  .pricing-card h3 {
    font-size: 26px;
  }

  .pricing-card h2 {
    font-size: 40px;
  }

  .bottom-note {
    font-size: 15px;
    text-align: center;
    flex-direction: column;
  }
}
