.values-section-explore {
  /* background: #f8f4ef; */
  padding: 75px 0 0 0;
}

.values-container {
  max-width: 1450px;
}

.value-item {
  position: relative;
  text-align: center;
  padding: 10px 42px 20px;
  min-height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.border-right::after {
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  width: 1px;
  height: 190px;
  background: #d9d1ca;
}

.value-icon {
  font-size: 46px;
  color: #c8a96b;
  margin-bottom: 30px;
}

.value-item h4 {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #222;
}

.value-item p {
  font-size: 17px;
  /* line-height: 42px; */
  color: #555;
  max-width: 180px;
  margin: 0 auto;
}

.value-item:hover {
  transform: translateY(-8px);
  transition: 0.4s;
}

.value-item:hover .value-icon {
  transform: scale(1.08);
  transition: 0.4s;
}

@media (max-width: 991px) {
  .value-item {
    padding: 40px 35px;
    min-height: 260px;
  }

  .border-right:nth-child(2)::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .values-section-explore {
    padding: 30px 0 0 0;
  }
  .value-item {
    padding: 0;
    margin-top: 20px;
    min-height: auto;
  }

  .border-right::after {
    display: none;
  }
  .value-icon {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .value-item p {
    /* line-height: 32px; */
    font-size: 9px;
  }
  .value-item h4{
    font-size: 9px;
    letter-spacing: 0px;
  }
}
