.carousel-img {
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  animation: zoomIn 6s ease-in-out;
}

/* Smooth zoom animation */
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .carousel-img {
    height: auto  ;
    border-radius: 12px;
  }
}
